/* FORMAT */
:root {
  --greyPrincipal: #262626;
  --greySecundary: rgb(77, 77, 77);
  --backgroundColor: #212121;
  --principalColor: #99fe54;
  --alternativeGreen: #135200;
  --principalColorVariation1: #6e6e6e;
  --principalColorVariation2: #a0a0a0;
  --secundaryColor: rgb(255, 0, 115);
  --white: #fff;
  --black: #000;

  --principalFont: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--principalColorVariation1); 
}
 
::-webkit-scrollbar-thumb {
  background: var(--principalColor); 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secundaryColor); 
}

/* */

* {
  margin: 0;
  padding: 0;
  font-family: var(--principalFont);
  box-sizing: border-box;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* BODY SECTION */
body {
  background-color: var(--backgroundColor);
  color: var(--white);
}

/* HEADER SECTION */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem 1rem 0rem;
}

.logo {
  width: 10rem;
}

.logo:hover {
  transform: scale(1.01);
  transition: 0.3s ease-in;
}

.navbar {
  justify-content: flex-end;
  gap: 1rem;
}

.linkMenu {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  padding: 0.3rem;
  border-radius: 4px;
}

.linkMenu:hover {
  color: var(--principalColorVariation2);
  text-decoration: overline;
}

.linkMenu:active {
  color: var(--principalColor);
}

.linkMenu_Active {
  color: var(--principalColor);
}

.hero {
  padding: 5rem 2rem;
  background-color: var(--greyPrincipal);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  border-radius: 10px;
}

.heroName {
  font-weight: 900;
  color: var(--principalColor);
}

.hero p {
  text-wrap: pretty;
  max-inline-size: 600px;
  line-height: 1.3;
}

.webDeveloper {
  font-weight: 700;
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  height: 65px;
  width: 200px;
}

.card svg {
  width: 40%;
  height: 40%;
  font-size: 24px;
  font-weight: 100;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.card .github,
.card .discord,
.card .linkedin,
.card .stackoverflow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card .github:hover {
  background-color: #242c34;
  animation: easy-in 0.2s linear;
}

.card .discord:hover {
  background-color: #5865f2;
  animation: easy-in 0.2s linear;
}

.card .linkedin:hover {
  background-color: #0a66c2;
  animation: easy-in 0.2s linear;
}

.card .stackoverflow:hover {
  background-color: #ff8000;
  animation: easy-in 0.2s linear;
}

.btn-CV {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--greyPrincipal);
  background-color: var(--principalColor);
  font-weight: 700;
  padding: 5px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

.btn-CV:hover {
  background-color: var(--white);
  scale: 1.01;
}

.heroImage img {
  width: 400px;
}

.bordeEntregas, .bordeFeedback {
  border-radius: 10px;
  margin-top: 10px;
  padding: 2rem;
  background: rgb(89, 0, 255);
  background: linear-gradient(330deg, #85f43b 50%, var(--principalColor) 10%);
  /*background-color: var(--principalColor);*/
}

.tituloEntregas h3,
.tituloFeedback h3 {
  color: var(--greyPrincipal);
  font-size: 2rem;
  text-align: center;
}

.building {
  padding: 5rem;
  text-align: center;
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 900;
}

.containerEntregas {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  position: relative;
}

.cardEntrega {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  color: var(--greyPrincipal);
  padding: 1.5rem 1rem;
  background-color: var(--white);
}

.cardShadow {
  border-radius: 5px;
  box-shadow: 0px 0px 0px 15px var(--backgroundColor);
}

.cardEntrega img {
  width: 100px;
  padding-bottom: 0.5rem;
}

.cardName h3 {
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 700;
  color: var(--black);
}

.cardName p {
  padding-bottom: 1rem;
  text-align: center;
}

.iconCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.iconCard img {
  margin: 0.5rem;
  width: 24px;
}

.technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.html {
  width: 3.8rem;
  font-size: 0.8rem;
  background-color: #0a66c2;
  color: var(--white);
  font-weight: 700;
  padding: 0.4rem;
  border-radius: 50px;
}

.css {
  width: 3rem;
  font-size: 0.8rem;
  background-color: var(--secundaryColor);
  color: var(--white);
  font-weight: 700;
  padding: 0.4rem;
  border-radius: 50px;
}

.js {
  width: 5.4rem;
  font-size: 0.8rem;
  background-color: #f6df1f;
  color: var(--black);
  font-weight: 700;
  padding: 0.4rem;
  border-radius: 50px;
}

.modulo1_DW, .textFeedback {
  margin-top: 10px;
  width: 100%;
  padding: 1rem;
  background-color: #1a1b1a;
  text-align: center;
  border-radius: 10px;
}

.errorBanner {
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #000000;
  position: absolute;
  margin-bottom: 350px;
  margin-left: 220px;
}

.errorBanner a {
  color: var(--white);
  text-decoration: none;
}

/* Footer */

.footerNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--black);
}

.footerNav p {
  margin-top: 5px;
}

.linkFooter {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  padding: 0.3rem;
  border-radius: 4px;
}

.linkFooter:hover {
  color: var(--principalColorVariation2);
}

.linkFooter:active {
  color: var(--principalColor);
}

.llinkFooter_Active {
  color: var(--principalColor);
}

/* Página de error 404 */
.error404 {
  color: var(--greyPrincipal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--principalColor);
  height: 50vh;
  border-radius: 10px;
}

.error404 h3 {
  font-size: 3rem;
}

.error404 p {
  font-size: 2rem;
}

.feedbackForm {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.feedbackForm label {
  color: var(--greyPrincipal);
  font-size: 1.1rem;
  font-weight: 700;
}

/* Media Querys */

@media (max-width: 1199px) {
  header {
    padding: 2rem;
  }

  .errorBanner {
    display: none;
  }
}

@media (max-width: 1024px) {
  header {
    padding: 2rem;
  }

  .cardEntrega {
    max-width: 700px;
    padding: 1.5rem 12rem;
  }

  .errorBanner {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    padding: 2rem;
  }

  .cardEntrega {
    max-width: 600px;
    padding: 1.5rem 8rem;
  }

  .cardShadow {
    box-shadow: 0px 0px 0px 10px var(--backgroundColor);
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 767px;
    margin: 10px;
  }
  .heroImage img {
    display: none;
  }

  .hero {
    text-align: center;
    padding: 1.5rem;
    gap: 0rem;
    justify-content: center;
  }

  .icons {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 428px) {
  .container {
    max-width: 428px;
    margin: 10px;
  }

  .heroName {
    font-size: 1.5rem;
  }

  header {
    flex-direction: column;
    padding: 1rem;
  }

  .heroImage img {
    display: none;
  }

  .tituloEntregas h3 {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0 0 2rem 0;
  }

  .cardEntrega {
    padding: 1rem 5rem;
  }

  .hero {
    text-align: center;
    padding: 1.5rem;
    gap: 0rem;
  }

  .icons {
    align-items: center;
    justify-content: center;
  }

  .containerEntregas {
    padding: 0rem;
    gap: 2rem;
  }

  .cardName p {
    display: none;
  }

  .cardShadow {
    box-shadow: 0px 0px 0px 7px var(--backgroundColor);
  }

  .modulo1_DW {
    margin-top: -15px;
    margin-bottom: 20px;
    padding: 1rem;
  }

  .errorBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 270px;
  }

  .error404 {
    color: var(--white);
    background-color: var(--greyPrincipal);
  }

  .error404 h3 {
    font-size: 2rem;
  }

  .error404 p {
    text-align: center;
    font-size: 1rem;
  }

  .building {
    padding: 2rem;
    text-align: center;
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 700;
  }
}
