/* FORMAT */
:root {
  --greyPrincipal: #262626;
  --greySecundary: rgb(77, 77, 77);
  --backgroundColor: #151c13;
  --principalColor: #99fe54;
  --principalColorVariation1: #6e6e6e;
  --white: #fff;
  --secundaryColor: rgb(255, 0, 115);
  --principalFont: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--principalFont);
  box-sizing: border-box;
}

/* HEADER SECTION */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;

  box-shadow: 0 0 0 0.25rem var(--principalColor);
}

.animatedBG {
  background: linear-gradient(93deg, var(--greyPrincipal), #000000, #135200);
  background-size: 150% 150%;
  animation: gradient-animation 4.5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* header:hover {
  box-shadow: 0 0 0 0.25rem var(--principalColorVariation1);
} */

.logo {
  width: 11rem;
}

.logo:hover {
  transform: scale(1.01);
  transition: 0.3s ease-in;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.linkMenu {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  padding: 0.3rem;
  border-radius: 4px;
}

.newTabIcon {
  max-width: 8px;
}

.linkMenu:hover {
  transform: scale(1.01);
  transition: 0.09s ease-in;
  background-color: #000000;
  color: var(--principalColor);
}

.linkMenu:active {
  transform: scale(1.05);
  transition: 0.1s ease-in;
  background-color: var(--greySecundary);
  color: var(--secundaryColor);
}

.linkMenu_Active {
  color: var(--principalColor);
}

/* MAIN SECTION */
main {
  margin-top: 4px;
}
